#root {
  background-color: #e1e5c2;
}
.cardImage {
  height: 100px;
  width: 200px;
}
.app-bar-container {
  flex-grow: 1;
}
#app-bar {
  background-color: #39395f;
}
.app-bar-title {
  flex-grow: 1;
  font-weight: bold !important;
}

.button-capitalize {
  text-transform: capitalize !important;
}

#add-to-cart-btn {
  background-color: #416859;
  color: white;
}
#empty-cart-btn {
  width: 110px;
  margin: 20px;
  background-color: rgb(212, 54, 54);
  color: white;
}

#checkout-btn {
  width: 110px;
  margin: 20px;
  background-color: gray;
  color: white;
}

#items-grid {
  flex: 0 0 auto;
}

.quantity-btn {
  background-color: gray;
}

.create-item-container {
  margin: 20px 40px;
}

.form > * {
  margin: 20px 0px;
}
.form-field {
  width: 100%;
  margin-bottom: 30px;
}

#form-label {
  margin: 10px 0px;
}

#submit-btn {
  width: 40%;
  height: 40px;
  background-color: #416a59;
  color: white;
}

#heading {
  padding: 10px 0px 20px 0px;
  font-size: 28px;
  font-weight: 400;
}
